# 2026-01-16 add multiple responses to the character questions (5-1, 5-2, and 5-4)

NB: not 5-3!

## imports

In [21]:
import re
import pandas as pd
from pydracor import DraCorAPI

## getting lists from DraCor

In [39]:
def get_play_set(corpusname="ger", playname="lessing-emilia-galotti") -> list: 
    play = DraCorAPI().get_play(corpusname, playname) 
    chrctrs = play.characters
    chrcrs_combined_set = set()
    for chrctr in chrctrs:
        chrcrs_combined_set.add(chrctr.name.lower())
        ## add prinz for der prinz and so on
        article_match = re.match(r"(der|die|das) (.+)", chrctr.name.lower())
        if article_match is not None:
            chrcrs_combined_set.add(article_match.group(2).strip())
        chrcrs_combined_set.add(chrctr.id.lower())

    return chrcrs_combined_set

In [40]:
get_play_set()

{'angelo',
 'appiani',
 'battista',
 'camillo rota',
 'camillo_rota',
 'claudia',
 'conti',
 'der kammerdiener',
 'der prinz',
 'der_kammerdiener',
 'der_prinz',
 'emilia',
 'kammerdiener',
 'marinelli',
 'odoardo',
 'orsina',
 'pirro',
 'prinz'}

In [41]:
get_play_set(playname="schlegel-die-entfuehrte-dose")

{'charlottchen', 'christinchen', 'dratmann', 'foppendorf', 'glocke'}

In [42]:
egal = get_play_set()

In [43]:
edose = get_play_set(playname="schlegel-die-entfuehrte-dose")

## Writing ID's into the answers table

In [44]:
correct = pd.read_csv("curated_data/autoEva_correct-answers.csv")

In [45]:
correct

     ID                                     Correct Answer
0   1-1                                                103
1   1-2                                                103
2   1-3                                                103
3   1-4                                                103
4   1-5                                                 14
5   2-1                                               9.19
6   3-1                                              gersh
7   3-2                                                fre
8   4-1                                      Open question
9   4-2                                      Open question
10  4-3                                      Open question
11  4-4                                      Open question
12  5-1  ["der kammerdiener", "camillo_rota", "angelo",...
13  5-2  ["der kammerdiener", "camillo_rota", "angelo",...
14  5-3                                          marinelli
15  5-4  ["dratmann", "foppendorf", "christinchen", "ch...

In [46]:
mask = correct['ID'].isin(['5-1', '5-2'])
correct.loc[mask, 'Correct Answer'] = f"[\"{'\", \"'.join(egal)}\"]"

In [47]:
correct

     ID                                     Correct Answer
0   1-1                                                103
1   1-2                                                103
2   1-3                                                103
3   1-4                                                103
4   1-5                                                 14
5   2-1                                               9.19
6   3-1                                              gersh
7   3-2                                                fre
8   4-1                                      Open question
9   4-2                                      Open question
10  4-3                                      Open question
11  4-4                                      Open question
12  5-1  ["der kammerdiener", "camillo_rota", "angelo",...
13  5-2  ["der kammerdiener", "camillo_rota", "angelo",...
14  5-3                                          marinelli
15  5-4  ["dratmann", "foppendorf", "christinchen", "ch...

In [48]:
mask = correct['ID'].isin(['5-4'])
correct.loc[mask, 'Correct Answer'] = f"[\"{'\", \"'.join(edose)}\"]"

In [49]:
correct

     ID                                     Correct Answer
0   1-1                                                103
1   1-2                                                103
2   1-3                                                103
3   1-4                                                103
4   1-5                                                 14
5   2-1                                               9.19
6   3-1                                              gersh
7   3-2                                                fre
8   4-1                                      Open question
9   4-2                                      Open question
10  4-3                                      Open question
11  4-4                                      Open question
12  5-1  ["der kammerdiener", "camillo_rota", "angelo",...
13  5-2  ["der kammerdiener", "camillo_rota", "angelo",...
14  5-3                                          marinelli
15  5-4  ["dratmann", "foppendorf", "christinchen", "ch...

In [50]:
## for unification lower case 'marinelli'
mask = correct['ID'] == '5-3'
correct.loc[mask, 'Correct Answer'] = 'marinelli'

In [51]:
correct

     ID                                     Correct Answer
0   1-1                                                103
1   1-2                                                103
2   1-3                                                103
3   1-4                                                103
4   1-5                                                 14
5   2-1                                               9.19
6   3-1                                              gersh
7   3-2                                                fre
8   4-1                                      Open question
9   4-2                                      Open question
10  4-3                                      Open question
11  4-4                                      Open question
12  5-1  ["der kammerdiener", "camillo_rota", "angelo",...
13  5-2  ["der kammerdiener", "camillo_rota", "angelo",...
14  5-3                                          marinelli
15  5-4  ["dratmann", "foppendorf", "christinchen", "ch...

In [52]:
correct.to_csv("curated_data/autoEva_correct-answers.csv", index=False)